@keyframes fade{
    from {background-color: blue;}
    to {background-color: white;}
}
body{
    background-color: rgb(37, 37, 37);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*----------------------------------------------------------------------*/
.pc-builder-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 201);
    border-radius: 10px;
    
    margin: 1rem;
    width: 50%;
    color: white;
}
/*----------------------------------------------------------------------*/
.pc-builder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pc-builder form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 201);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
}
.pc-builder form input{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    border: none;
}
.pc-builder img{
    width: 3em;
    height: auto;
    border-radius: 10px;
    margin: 1rem;
}
.pc-builder button{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: background-color 0.5s;
}
.pc-builder button:hover{
    background-color: black;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    animation: fade 0.3s;
}

/*----------------------------------------------------------------------*/
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.component-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    border: 5px solid gray;
    margin: 1em;
    border-radius: 20px;
}
#gpu, #cpu, #ram, #storage, #motherboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    padding: 1rem;
    border-radius: 5px;
}
/*----------------------------------------------------------------------*/
.selected-options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    text-align: center;
}
.selected-options h2{
    color: white;
}
.selected-options p{
    background-color: white;
    width: 80%;
    border-radius: 20px;
    padding: 1rem;
}
/*----------------------------------------------------------------------*/