@keyframes fade{
    from {background-color: blue;}
    to {background-color: white;}
}
body{
    background-color: rgb(37, 37, 37);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*----------------------------------------------------------------------*/
.intro{
    display: flex;
    justify-content: space-around;
    background-image: url(../images/smokey_background.jpg);
    background-size: cover;
    border-radius: 10px;
}
.intro-left{
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    margin-left: 6rem;
    flex-direction: column;
    justify-content: center;
}
.intro-left button{
    color: aliceblue;
    background-color: blue;
    padding: 10px 10%;
    border: 20px white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    
}
.intro-left button:hover{
    background-color: white;
    color: black;
    padding: 10px 10%;
    border-radius: 5px;
}
.intro img{
    width: 25%;
    height: auto;
    margin: 10px;
}

/*----------------------------------------------------------------------*/
.pc-options{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
/*----------------------------------------------------------------------*/
.pc-1{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    padding: 10px;
    border: 10px solid white;
    border-radius: 20px;
    background-color: rgb(5, 5, 90);
    margin-left: 1em;
    margin-right: 1em;
}
.pc-1 li{
    margin: 1rem;
    align-content: space-between;
    list-style: none;
}
.pc-1 img {
    width: 100%;
    height: auto;
}
.pc-1 button{
    color: white;
    background-color: rgb(80, 80, 255);
    padding: 10px 10%;
    border: 20px white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}
.pc-1 button:hover{
    background-color: white;
    color: black;
    padding: 10px 10%;
    border-radius: 5px;
}
/*----------------------------------------------------------------------*/
.pc-2{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    padding: 10px;
    border: 10px solid white;
    border-radius: 20px;
    background-color: rgb(5, 5, 90);
    margin-left: 1em;
    margin-right: 1em;
}
.pc-2 li{
    margin: 1rem;
    align-content: space-between;
    list-style: none;
}
.pc-2 img {
    width: 100%;
    height: auto;
}
.pc-2 button{
    color: white;
    background-color: rgb(80, 80, 255);
    padding: 10px 10%;
    border: 20px white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}
.pc-2 button:hover{
    background-color: white;
    color: black;
    padding: 10px 10%;
    border-radius: 5px;
}
/*----------------------------------------------------------------------*/
.pc-3{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    padding: 10px;
    border: 10px solid white;
    border-radius: 20px;
    background-color: rgb(5, 5, 90);
    margin-left: 1em;
    margin-right: 1em;
}
.pc-3 li{
    margin: 1rem;
    align-content: space-between;
    list-style: none;
}
.pc-3 img {
    width: 100%;
    height: auto;
}
.pc-3 button{
    color: white;
    background-color: rgb(80, 80, 255);
    padding: 10px 10%;
    border: 20px white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}
.pc-3 button:hover{
    background-color: white;
    color: black;
    padding: 10px 10%;
    border-radius: 5px;
}
/*----------------------------------------------------------------------*/
.pc-4{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    padding: 10px;
    border: 10px solid white;
    border-radius: 20px;
    background-color: rgb(113, 12, 3);
    margin-left: 1em;
    margin-right: 1em;
}
.pc-4 li{
    margin: 1rem;
    align-content: space-between;
    list-style: none;
}
.pc-4 img {
    width: 100%;
    height: auto;
}
.pc-4 button{
    color: white;
    background-color: rgb(253, 112, 77);
    padding: 10px 10%;
    border: 20px white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}
.pc-4 button:hover{
    background-color: white;
    color: black;
    padding: 10px 10%;
    border-radius: 5px;
}
/*----------------------------------------------------------------------*/
.pc-drop{
    text-align: center;
    color: white;
    background-image: url(../images/blue_gradient.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pc-drop a{
    color: white;
    background-color: rgb(80, 80, 255);
    padding: 10px 10%;
    border: 20px white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}
.pc-drop button:hover{
    background-color: white;
    color: black;
    padding: 10px 10%;
    border-radius: 10px;
}
/*----------------------------------------------------------------------*/
